<footer class="d-flex flex-wrap justify-content-center align-items-center py-1 fixed-bottom">
    <p class="mb-0 text-muted">Copyright &copy; @DateTime.Now.Year  Book Store</p>
    <custom-email email="prosun.chakraborty@gmail.com"></custom-email>
</footer>
