@inject Webgentle.Bookstore.Repository.IBookRepository _bookRepository

<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/bootstrap-logo.svg" alt="" width="30" height="24" asp-append-version="true">
                @*use asp-append-version to avoid browser cache problem while load from own server*@
                @_bookRepository.GetAppName()
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="AboutUs">About US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Book" asp-action="GetAllBooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Book" asp-action="NewBook">New Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="admin" asp-controller="Home" asp-action="Index">Admin</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <partial name="_LoginInfo.cshtml" />
                </form>
            </div>
        </div>
    </nav>
</header>
