@inject Microsoft.AspNetCore.Identity.SignInManager<LoginUser> _loginUser

@if (_loginUser.IsSignedIn(User))
{
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
        @*Hello --> @User.Identity.Name*@
        Hello @User.FindFirst("userFirstName").Value
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-controller="Account" asp-action="logout">Logout</a></li>
        <li><a class="dropdown-item" asp-controller="Account" asp-action="changepassword">Change Password</a></li>
    </ul>
</div>
}
else
{
    <a class="custom-btn btn btn-warning" asp-controller="Account" asp-action="login" asp-route-returnUrl="@Context.Request.Path">Login</a>
    <a class="custom-btn btn btn-warning" asp-controller="Account" asp-action="signup">Register</a>
}


