@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "All Books";
}

@*@{ 
  var paramDictionary = new Dictionary<string, string>() {

      {"id","1" },
      {"name","c#" },
      {"author","Robin" }

  };
}
    USED TO send multiple data using query string
    *@



<div class="container">
    <h3 class="h3">Top Books</h3>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4 justify-content-sm-center my-1">
                <partial name="_BookThumbnail" model="book"/>                
            </div> 
        }
    </div>
</div>