

@{
  ViewData["Title"] = "New Form";
  var isSuccess = Convert.ToBoolean(ViewBag.IsSuccess);
  int id = ViewBag.Id;
}

@model BookModel

<form method="post" asp-controller="Book" asp-action="AddNewBook" >
    @*// if post action method name same as page action method then no need to define
      same for the controller too    *@
    <div class="container">
        <h3 class="display-6">Add New Book</h3>
        
        @{ 
          if (isSuccess)
          {
                <div class="alert alert-primary" role="alert">
                    Data Saved Successfully!
                    <br />
                    Click <a asp-controller="Book" asp-action="GetBook" asp-route-Id="@id">Here</a> to view
                </div>
              }
        } 
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <textarea asp-for="TotalPages" class="form-control"></textarea>
            <span asp-validation-for="TotalPages" class="text-danger"></span>
        </div>
        <div class="form-group m-2">
            <input type="submit" value="Add Book" class="btn btn-primary" />
        </div>
    </div>
</form>

