* {
    margin: 0px;
    padding: 0px;
}

body {
    
}

.img{
    height:50px;
    width:50px;
}

.custom-btn{
    margin:0px 5px;
}

.card:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

.navbar, footer{
    background-color: aquamarine !important;
}

/*main {
    padding: 200px,0px
}*/

/*header {
    margin-top:85px;
}*/