
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1>This is Index Page</h1>

    <button class="btn btn-dark btn-lg" id="btnClick">Click me</button>


    @*<img src="~/images/Calendar.png" alt="calendar" class="img" />*@
    @*<img src="~/StaticFiles/Calendar.png" alt="calendar" class="img" />*@

<script src="~/lib/jquery/jquery.js"></script>


<script type="text/javascript">
    $('#btnClick').on('click',() => {
        alert('Button Clicked');
    });
</script>
</body>
</html>
