@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";    
}

<div class="container">    
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4>ForgotPassword</h4>
            <hr />
            @if (Model?.EmailSent == true) // here ? used for to handle null reference error
            {
                <div class="alert alert-primary" role="alert">
                    Email sent Successfully!
                </div>
            }
            else
            {
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </div>
                </form>
            }

            <div>
                <a asp-controller="Account" asp-action="Login">Login</a>
            </div>
        </div>
    </div>
</div>


