@model ResetPasswordModel


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4>Reset Password</h4>
            <hr />

            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-primary" role="alert">
                    Password change Successfully!
                </div>
            }
            else
            {
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="UserId" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ResetPassword" class="control-label"></label>
                        <input asp-for="ResetPassword" class="form-control" />
                        <span asp-validation-for="ResetPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                    </div>
                </form>
            }

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

</div>





